@import '~/src/shared/style/variables.scss';

$hovered-border: lighten(
  $color: $dashboard-menu-selected,
  $amount: 50
);

.news-page {
  @include dashboard-section-header;

  .header {
    .mobile-compose-button {
      min-width: initial !important;
      width: 45px;
      height: 45px;
      border-radius: 35px;
      display: none;
      font-size: large;
    }
  }

  .search-input {
    div[class*='MuiInputBase-root'] {
      border-radius: 30px;
      background-color: white;
      width: 100%;
    }
  }

  .wrapper {
    display: flex;
    gap: $space-2;
    margin-top: $space-5;

    .left-side {
      > .content {
        width: 200px;
        background-color: white;
        box-shadow: $shadow-tiny;
        border-radius: $block-radius;
        display: flex;
        flex-direction: column;
        gap: $space-4;
        padding: $space-5 $space-2;
        color: #666666;

        * {
          font-size: 14px;
          legend span {
            padding: 0;
          }
        }
      }
    }

    .right-side {
      width: 100%;

      margin-bottom: $space-5;

      hr {
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 100%;

        &:last-of-type {
          display: none;
        }
      }

      > .content {
        .table {
          display: flex;
          flex-direction: column;
          column-gap: $space-1;
          padding: $space-3;

          background-color: white;
          box-shadow: $shadow-tiny;
          border-radius: $block-radius;

          .table-inside {
            .item {
              display: flex;
              flex-direction: row;
              gap: $space-2;
              //border: 1px solid white;
              border-radius: $space-1;
              padding: $space-2;
              //transition: background-color 0.5s;
              cursor: pointer;

              &:hover {
                //background-color: #fbfbfb;
              }

              img {
                object-fit: cover;
                width: 100px;
                height: 100px;
                border-radius: $space-tiny;
              }

              .title {
                flex-grow: 10;

                .badges {
                  margin-bottom: $space-2;

                  .draft-badge {
                    background-color: darken(
                      $color: $warning-color,
                      $amount: 40
                    );
                    border: 1px solid
                      darken($color: $warning-color, $amount: 60);
                    color: darken($color: $warning-color, $amount: 75);
                    font-size: x-small;
                    letter-spacing: 1px;
                    padding: 2px $space-2;
                    border-radius: 10px;
                    text-transform: uppercase;
                  }
                }

                p {
                  margin: 3px;
                  color: #666666;
                  font-size: 12px;
                }

                h1 {
                  font-size: 20px;
                  font-weight: normal;
                  margin: 0;
                }
              }

              .date-block {
                display: flex;
                flex-direction: column;
                border-left: 1px solid #efefef;
                padding-left: $space-2;

                > div {
                  flex-grow: 1;
                }

                .label-date {
                  font-size: x-small;
                  color: #a6a6a6;
                  text-transform: uppercase;
                }

                .date {
                  /*background-color: #666666;
                border-radius: $space-tiny;
                padding: $space-1;*/
                  display: flex;
                  flex-direction: row;
                  gap: $space-1;
                  margin-bottom: $space-1;
                  > div {
                    white-space: nowrap;
                    font-size: smaller;
                    //color: darken($color: lightgray, $amount: 15);

                    &:first-of-type {
                      font-size: small;
                      color: unset;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .no-news-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-3;
        padding: $space-6;
        color: #666666;
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .news-page {
    .header {
      .mobile-compose-button {
        display: flex;
        //position: absolute;
      }
      .compose-button {
        display: none;
      }
    }
    .wrapper {
      .right-side {
        hr {
          display: none;
        }
        > .content {
          .table {
            background-color: initial;
            box-shadow: initial;
            border-radius: initial;

            .table-inside {
              background-color: white;
              box-shadow: $shadow-tiny;
              border-radius: $block-radius;
              margin-bottom: $space-5;

              .item {
                flex-direction: column;

                img {
                  width: 100%;
                  height: 150px;
                }

                .date-block {
                  //display: none;
                  flex-direction: row;
                  border-top: 1px solid #efefef;
                  border-left: initial;
                  padding-left: initial;

                  > div {
                    flex-grow: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
