@import '~/src/shared/style/variables.scss';

.files-page {
  @include dashboard-section-header;

  .content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    column-gap: $space-4;
    row-gap: $space-4;
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;

    .tile {
      background-color: white;
      box-shadow: $shadow-tiny;
      border-radius: $space-tiny;
      padding: $space-3;
      overflow: hidden;
      width: 100%;
      align-self: center;
      justify-self: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      p {
        margin: $space-1 0;
      }

      img {
        width: 100%;
      }

      .name {
        //width: 200px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 1px;
        overflow-wrap: break-word;
      }

      .size {
        background-color: $dark-gray;
        color: white;
        display: inline-block;
        padding: 1px $space-3;
        border-radius: 10px;
        font-size: smaller;
      }

      .date {
        font-size: smaller;
        color: $dark-gray;
        margin-bottom: $space-3;
      }

      .fix-height {
        height: 100%;
      }

      a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: smaller;
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .files-page {
    .content {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      .tile {
        //width: 40%;
      }
    }
  }
}
