@import '~/src/shared/style/variables.scss';

.login-page {
  display: flex;
  flex-direction: row;
  height: 100%;

  > * {
    width: 50%;
    height: 100%;
  }

  .left-side {
    background-image: url('/static/login-background.svg');
    background-size: cover;
  }

  .right-side {
    > * {
      @include middle-center;
      display: inline-block;
      text-align: center;
      min-height: 200px;
    }
  }
}
