@import '~/src/shared/style/variables.scss';
html,
body,
#__next {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  //letter-spacing: 0.025rem;
}

.MuiButton-root {
  &[class*='MuiButton'] {
    text-transform: initial;
    letter-spacing: initial;
    font-weight: initial;
    white-space: nowrap;
  }
  &.MuiButton-contained {
    &[data-dark] {
      background-color: $dark-blue;
      &:disabled {
        color: rgba(white, 0.35);
        background-color: lighten($dark-blue, 10);
      }
    }
  }
  &.MuiButton-outlined {
    &[data-dark] {
      color: $dark-blue;
    }
  }
}

.MuiLink-root {
  &.MuiLink-underlineHover {
    color: $dark-blue;
  }
}
a:visited {
  color: $dark-blue;
}
* {
  box-sizing: border-box;
}

.CodeMirror.CodeMirror {
  min-height: initial;
  height: 220px;
}

@media screen and (max-width: $screen-sm) {
  .MuiSnackbar-anchorOriginBottomLeft {
    bottom: 65px !important;
  }
}

/*.cm-spell-error {
  background-color: initial !important;
}

.editor-statusbar {
  display: none;
}*/
