@import '~/src/shared/style/variables.scss';
html,
body,
#__next {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  //letter-spacing: 0.025rem;
}

a {
  cursor: pointer;
}

.MuiButton-root {
  &[class*='MuiButton'] {
    text-transform: initial;
    letter-spacing: initial;
    font-weight: initial;
    white-space: nowrap;
  }

  &.MuiButton-contained {
    &[data-dark] {
      background-color: $dark-blue;
      &:disabled {
        color: rgba(white, 0.35);
        background-color: lighten($dark-blue, 10);
      }
    }
  }

  &.MuiButton-outlined {
    &[data-dark] {
      color: $dark-blue;
    }
  }
}
//select shared version combobox
[id=':r15:'] {
  min-width: 250px;
}

.MuiLink-root {
  &.MuiLink-underlineHover {
    color: $dark-blue;
  }
}
a:visited {
  color: $dark-blue;
}

.CodeMirror.CodeMirror {
  min-height: initial;
  height: 220px;
}

a.MuiButtonBase-root:visited {
  color: white !important;
}

input[type='number'] {
  opacity: 1;
  border: 1px solid lightgray;
  height: 30px;
  border-radius: 3px;
}

input[type='number']::-webkit-inner-spin-button {
  opacity: 1;
  padding: 3px;
  height: 18px;
}
@media screen and (max-width: $screen-sm) {
  .MuiSnackbar-anchorOriginBottomLeft {
    bottom: 65px !important;
  }

  .MuiDialogContent-root {
    margin-top: 30px;
  }

  .MuiDialogActions-root {
    background-color: $dashboard-background;
    border-top: 1px solid darken($color: $dashboard-background, $amount: 20);
    height: 60px;
  }

  .MuiDialogTitle-root {
    background-color: $dashboard-background;
    border-bottom: 1px solid darken($color: $dashboard-background, $amount: 20);
  }
}

hr[data-combo-divisor] {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px;
}

/*.cm-spell-error {
  background-color: initial !important;
}

.editor-statusbar {
  display: none;
}*/

//************ Open Layers **********//
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
