$light-gray: #999999;
$dark-gray: #494949;
$dark-blue: #134b82;
$author-color: #194dd9;
$dashboard-bg-dark: #3d3a54;
$dashboard-bg-details: #a3a0fb;
$dashboard-bg-light: #43425d;
$dashboard-icon-color: #a6a3bf;
$dashboard-menu-color: #e5e5e5;
$dashboard-background: #f0f0f7;

$menu-width: 250px;
$menu-closed-width: 60px;

$border-1: 1px;
$border-2: 3px;

$space-tiny: 3px;
$space-1: 5px;
$space-2: 10px;
$space-3: 15px;
$space-4: 20px;
$space-5: 30px;
$space-6: 40px;

$radius-1: 0;
$radius-2: 0;

$badge-world: #ff0000;
$badge-politics: #7b7b00;
$badge-health: #1add00;
$badge-sports: #008d9a;
$badge-trend-beauty: #1d3be8;
$badge-science: #7b69c7;
$badge-travel: #8100b5;
$badge-technology: #930036;
$badge-economy: #6f6d4c;
$badge-cucine: #007751;
$shadow: 0px 1px 10px lightgray;
$shadow-tiny: 0px 1px 2px lightgray;
$editor-color: #dcdced;
$blue: #1976cf;
$warning-color: #fefdf4;

@mixin middle {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

@mixin center {
  transform: translateX(-50%);
  position: relative;
  left: 50%;
}

@mixin middle-center {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

@mixin dashboard-section-header {
  .header {
    display: flex;
    margin-bottom: $space-5;
    h2 {
      font-family: 'Source Sans Pro';
      font-weight: lighter;
      color: #43425d;
      margin: 0;
      a {
        //text-decoration: none;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
      }
    }

    > div:first-of-type {
      width: 100%;
    }
    > div:last-of-type {
      display: flex;
      gap: $space-1;
      line-break: nowrap;

      button {
        min-width: 90px;
      }
    }
  }
}
