@import '~/src/shared/style/variables.scss';

.text {
}

.text-editor {
  display: flex;
  flex-direction: row;
  column-gap: $space-2;
  width: 100%;
  max-width: 1000px;

  .markdown-editor {
    flex-grow: 10;
    padding: 0 0 15px 15px;
  }

  .spacing {
    margin-right: $space-3;
  }
}
