@import '~/src/shared/style/variables.scss';

.logged {
  display: flex;
  flex-direction: column;
  row-gap: $space-3;
  align-items: center;

  button {
    width: 200px;
  }

  a {
    margin-top: $space-5;
    font-size: smaller;
    cursor: pointer;
  }
}
