@import '~/src/shared/style/variables.scss';

.not-logged {
  p {
    margin: $space-2;
    color: $light-gray;
    font-size: smaller;
  }

  form {
    margin-top: $space-5;
    display: flex;
    flex-direction: column;
    row-gap: $space-4;

    input[type='text'] {
      width: 400px;
    }

    .form-controls {
      display: flex;
      flex-direction: column;
      justify-content: center;
      column-gap: $space-4;
      margin-top: $space-5;

      button {
        width: 200px;
        align-self: center;
      }
      a {
        align-self: center;
        font-size: smaller;
        cursor: pointer;
        margin-top: $space-2;
      }
    }
  }
}
