@import '~/src/shared/style/variables.scss';

.news-header {
  .top {
    display: flex;
    flex-direction: row;

    .context {
      width: 100%;
      text-align: right;

      span {
        background-color: darken(darkgrey, 30);
        font-size: small;
        color: #efefef;
        padding: 2px 15px;
        border-radius: 30px;
      }
    }
  }

  h1 {
    margin-bottom: 0;
    font-weight: initial;
  }

  p {
    margin-top: $space-1;
  }

  address {
    display: flex;
    gap: $space-1;
    font-size: smaller;

    a {
      font-weight: bold;
      text-decoration: none;
      color: $author-color;
    }
  }

  time {
    color: $light-gray;
    font-size: small;
  }
}
