@import '~/src/shared/style/variables.scss';

.header-editor {
  display: flex;
  flex-direction: column;
  gap: $space-4;
  padding: $space-5 $space-2;

  div[class*='MuiTextField-root'] {
    textarea {
      font-size: 14px;
    }
  }

  span[class*='MuiTypography-root'] {
    font-size: 14px;
  }

  .switchers {
    display: flex;
    row-gap: $space-1;
    padding-left: $space-2;
  }

  * {
    font-size: 14px;
    legend span {
      padding: 0;
    }
  }
}
