@import '~/src/shared/style/variables.scss';

$size: 20px;
$border-color: #3b86ff;

.add-component {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 26px;
  cursor: pointer;

  &:hover {
    z-index: 20;

    .circle {
      width: calc($size + 5px);
      height: calc($size + 5px);
      font-size: 18px;
      border: 1px solid rgba($border-color, 1);
    }

    hr {
      width: 100%;
      border-bottom: 1px solid rgba($border-color, 1);
    }
  }

  hr {
    //display: none;
    border: 0;
    border-bottom: 1px solid rgba($border-color, 0.4);
    width: 80%;
    transition: all 0.3s;
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    border-radius: $size;
    border: 1px solid rgba($border-color, 0.4);
    position: absolute;
    background-color: white;
    z-index: 10;
    color: $border-color;
    transition: all 0.3s;
  }
}
