@import '~/src/shared/style/variables.scss';

.header {
  display: flex;
  height: 70px;
  background-color: white;
  box-shadow: $shadow-up;
  border-bottom: 1px solid lighten($color: $light-gray, $amount: 25);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: right;
  align-items: center;
  padding-right: $space-3;
  color: #4d4f5c;
  gap: $space-3;
  font-size: smaller;
  z-index: 500;

  .logo {
    width: 100%;
    margin-left: 20px;
    visibility: hidden;
  }

  .notification {
    color: gray;
    font-size: 16px;
    cursor: pointer;
  }

  .avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $space-2;
  }

  hr {
    height: 40%;
    border: 0;
    border-left: 1px solid darken($color: $text-gray, $amount: 20);
    opacity: 0.15;
  }
}

@media screen and (max-width: $screen-sm) {
  .header {
    .logo {
      visibility: visible;
    }
  }
}
