@import '~/src/shared/style/variables.scss';

.quote {
  border-top: $space-tiny solid $light-gray;
  border-bottom: $space-tiny solid $light-gray;
  padding: $space-4 $space-1;
  font-weight: 500;
}

.quote-editor {
  display: flex;
  flex-direction: row;
  column-gap: $space-2;

  .markdown-editor {
    flex-grow: 10;
  }

  .spacing {
    margin-right: $space-3;
  }
}
