@import '~/src/shared/style/variables.scss';

.quote {
  /*border-top: $space-tiny solid $light-gray;
  border-bottom: $space-tiny solid $light-gray;*/

  font-weight: 500;

  blockquote {
    padding: $space-3 $space-1;
    color: #666666;
  }

  hr {
    height: 2px;
    background: -webkit-gradient(
      linear,
      0 0,
      100% 0,
      from(rgba(0, 0, 0, 0)),
      color-stop(0.5, #333333),
      to(rgba(0, 0, 0, 0))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0),
      #333333,
      rgba(0, 0, 0, 0)
    );
    background: -moz-linear-gradient(
      left,
      rgba(0, 0, 0, 0),
      #333333,
      rgba(0, 0, 0, 0)
    );
    background: -o-linear-gradient(
      left,
      rgba(0, 0, 0, 0),
      #333333,
      rgba(0, 0, 0, 0)
    );
    background: linear-gradient(
      left,
      rgba(0, 0, 0, 0),
      #333333,
      rgba(0, 0, 0, 0)
    );
    border: 0;
  }
  hr:after {
    display: block;
    content: '';
    height: 30px;
    background-image: -webkit-gradient(
      radial,
      50% 0%,
      0,
      50% 0%,
      116,
      color-stop(0%, #cccccc),
      color-stop(100%, rgba(255, 255, 255, 0))
    );
    background-image: -webkit-radial-gradient(
      center top,
      farthest-side,
      #cccccc 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: -moz-radial-gradient(
      center top,
      farthest-side,
      #cccccc 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: -o-radial-gradient(
      center top,
      farthest-side,
      #cccccc 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: radial-gradient(
      farthest-side at center top,
      #cccccc 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.quote-editor {
  display: flex;
  flex-direction: row;
  column-gap: $space-2;
  width: 100%;
  max-width: 1000px;

  * {
    box-sizing: border-box;
  }

  .markdown-editor {
    flex-grow: 10;
    padding: 0 0 15px 15px;

    textarea {
      width: 100%;
      height: 250px;
      border: 1px solid #ddd;
      font-family: $family-helv;
      padding: $space-2;
      border-radius: 5px;
      font-size: 16px;
    }
  }

  .spacing {
    margin-right: $space-3;
  }
}
