@import '~/src/shared/style/variables.scss';

$border-color: #f1f1f3;

.notification-popover {
  @include dashboard-section-header;

  min-width: 350px;

  .header {
    font-size: 12px;
    padding: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid $border-color;
    align-items: center;

    div:first-of-type {
      justify-content: center;
    }
  }

  .body {
    background-color: #fafafa;
    padding: 0;
    display: flex;
    flex-direction: column;

    .tile {
      display: flex;
      flex-direction: row;
      gap: $space-2;
      font-size: 14px;
      align-items: center;
      padding: 20px 10px;
      border-bottom: 1px solid $border-color;

      &:last-of-type {
        border-bottom-width: 0;
      }

      p {
        margin: 0;
      }

      .datetime {
        color: darkgray;
        font-size: small;
      }
    }
  }

  .footer {
    border-top: 1px solid $border-color;
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }
}
