@import '~/src/shared/style/variables.scss';

.news-horizontal {
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 1px solid white;
  height: 100%;

  [data-component='figure'] {
    max-width: 30%;
  }

  &.divided {
    border-bottom-color: lighten($light-gray, 30%);
  }

  img {
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
  }

  .wrapper {
    padding-left: $space-2;
    width: 100%;
    display: flex;

    .content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
    }
  }

  h2 {
    font-size: small;
    margin: 0;
    margin-top: $space-tiny;
    font-weight: normal;
  }

  h3 {
    font-size: small;
    margin: 0;
    margin-top: $space-tiny;
    font-weight: normal;
    color: #666666;
  }

  [data-component='badge'] {
    font-size: xx-small;
    position: relative;
  }
}
