@import '~/src/shared/style/variables.scss';

.news-horizontal {
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 1px solid white;

  [data-component='figure'] {
    max-width: 30%;
  }

  &.divided {
    border-bottom-color: lighten($light-gray, 30%);
  }

  img {
    border-radius: 8px;
  }

  .wrapper {
    padding-left: $space-2;
    width: 100%;

    .content {
      @include middle;
    }
  }

  a {
    font-size: small;
    display: block;
  }

  [data-component='badge'] {
    font-size: xx-small;
    position: relative;
  }
}
