@import '~/src/shared/style/variables.scss';

$border-color: rgba(255, 255, 255, 1);

.news-vertical {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: $space-2;
  border-bottom: 1px solid white;

  &.divided {
    border-bottom-color: lighten($light-gray, 30%);
  }

  img {
    border-radius: 8px;
  }

  h2 {
    font-size: small;
    margin: 0;
    margin-top: $space-tiny;
    font-weight: normal;
  }

  h3 {
    font-size: small;
    margin: 0;
    margin-top: $space-tiny;
    font-weight: normal;
    color: #666666;
  }

  [data-component='badge'] {
    border-right: $border-2 solid $border-color;
    border-bottom: $border-2 solid $border-color;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: x-small;
    position: absolute;
  }
}
