@import '~/src/shared/style/variables.scss';

.avatar {
  position: relative;

  svg {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 55px;
    //color: gray;
    position: absolute;
  }

  img {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    position: relative;
    z-index: 1;
  }
}
