@import '~/src/shared/style/variables.scss';

.free-editor {
  margin-top: $space-5;
  .wrapper {
    width: 100%;
    padding: $space-2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: $space-2;
  }
}
