@import '~/src/shared/style/variables.scss';

.menu-button {
  background-color: $dashboard-menu-blue;
  height: 55px;
  color: rgba($dashboard-menu-color, 0.7);
  font-family: $family-sans;
  border-left: $space-1 solid $dashboard-menu-blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: $space-2;
  padding-left: $space-4;
  letter-spacing: 0.1rem;
  transition: background-color 0.3s;

  label {
    cursor: pointer;
    margin-left: 0;
    transition: margin-left 0.3s;
  }

  &:hover {
    background-color: lighten($color: $dashboard-menu-selected, $amount: 7);
    border-left-color: lighten($color: $dashboard-menu-selected, $amount: 11);
    color: rgba($dashboard-menu-color, 1);
  }

  &.selected {
    border-left-color: #4544e6;
    background-color: $dashboard-menu-selected;
    color: rgba($dashboard-menu-color, 1);

    svg {
      color: white;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .menu-button {
    flex-direction: column;
    border-left: initial;
    border-top: $space-1 solid $dashboard-menu-blue;
    min-width: 80px;
    width: 25vw;
    padding-left: 0;
    align-items: center;
    justify-content: center;

    &.selected {
      border-left-color: initial;
      border-top-color: $dashboard-bg-details;
    }

    label {
      font-size: x-small;
      margin-left: 0 !important;
    }
  }
}
